html {
  font-family: sans-serif;
}

.card {
  background-color: #fff;
  text-align: center;
  border: 3px solid #333;
  border-radius: 8px;
  text-decoration: none;
}

.card:hover {
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
  color: #000;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}
